<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>

        <add
                id="Magmalabs_OrderSuccess::magma_menu"
                title="Magmalabs"
                module="Magmalabs_OrderSuccess"
                resource="Magento_Backend::content"
                sortOrder="999"
        />
        <add
                id="Magmalabs_OrderSuccess::shasa_demo"
                title="Shasa (demo)"
                module="Magmalabs_OrderSuccess"
                resource="Magento_Backend::content"
                sortOrder="0"
                action="shasa/index/index/"
                parent="Magmalabs_OrderSuccess::magma_menu"
        />
    </menu>
</config>
