<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magmalabs" translate="label" sortOrder="10">
            <label>Magmalabs</label>
        </tab>
        <section id="shasa_demo" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Order configuration (shasa demo)</label>
            <tab>magmalabs</tab>
            <resource>Magmalabs_OderSuccess::order_config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General Configuration (shasa demo)</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Module Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="enable_success_page_items" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Show ordered items in success page</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Show a list of ordered items in success page.</comment>
                    <depends>
                        <field id="shasa_demo/general/enable">1</field>
                    </depends>
                </field>
                <field id="email_cc" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Email cc</label>
                    <comment>Send a copy of new order email.</comment>
                    <depends>
                        <field id="shasa_demo/general/enable">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
